.formbasic{
    width: 100%;
    .nickname{
        width: 40%;
        float: left;
    }
    .status{
        margin-left: 20px;
        float: left;
    }
    .operation{
        width: 200px;
        float: left;
    }
}
.page{
    margin-top: 20px;
}
.modalimg{
    margin-left: 15px;
}