.hotSearchHeader{
    min-height: 100px;
}
.hotSearchHeader .ant-row.ant-form-item{
    margin-left:10px;
}
.hotSearchHeader .ant-form.ant-form-horizontal{
    display: flex;
    flex-wrap: wrap;
}
.hotSearchHeader .ant-form-item-control-input-content{
    display: flex;
    flex:1;
    input{
        flex:1;
        height: 30px;
    }
    button{
        margin-left:10px;
    }
}
