.area {
  width: 100%;
  height: 100%;
}

.ant-input {
  width: 30%;
  height: 40px;
}

.area-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
}
