.user {
  button {
    height: 30px;
    font-size: 14px;
  }

  .ant-input {
    width: 30%;
  }

  .rbac {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .icon-button{
        width: 30px;
        height: 30px;
    }
    .ant-btn-dangerous.ant-btn-primary[disabled] {
      background: #fab6b6;
      border-radius: 3px;
      color: #fff;
    }
  }
}
